<a href="https://colab.research.google.com/github/thiagoaprado22/Data_Science-/blob/main/Projeto_Valor_do_M2_em_BH_vs_Social.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=black size=5> PROJETO DE ANALISE EXPLORATORIA DO VALOR DO METRO QUADRADO EM BELO HORIZONTE BASEADO NOS IMOVEIS A VENDA  </font>
***
[![author](https://img.shields.io/badge/author-ThiagoPrado-blue.svg)](https://www.linkedin.com/in/thiago-de-almeida-prado-2a53601b9)
[![stability-wip](https://img.shields.io/badge/stability-wip-lightgrey.svg)](https://github.com/thiagoaprado22) 
[![contributions welcome](https://img.shields.io/badge/contributions-welcome-brightgreen.svg?style=flat)](https://github.com/thiagoaprado22)


![img](https://blog.smel.com.br/wp-content/uploads/2019/07/original-e84caacc865bc16d1ee496af7c6f90b2-780x450.jpg)

<font color=grey size=2> Fonte da Imagem: https://blog.smel.com.br/wp-content/uploads/2019/07/original-e84caacc865bc16d1ee496af7c6f90b2-780x450.jpg
</font>

## Importando as tabelas da base de dados da PBH

In [ ]:
## url8 = "https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/f0398f93-df19-42ab-8875-906bdeeb9e9f/download/data_set_poprua_cadunico-032022.csv"
## situacao_rua_bh = pd.read_csv(url8, sep=';') # Tranforma as separações do CSV de ponto e virgula em colunas. 
## situacao_rua_bh

In [ ]:
## Import da base de dados de enderecos da PBH de 2018.

In [ ]:
import pandas as pd
url1 = "https://ckan.pbh.gov.br/dataset/05f673cf-aa81-4e03-bb3d-7c1ea91e7bec/resource/bd8893c9-ee50-49ac-8106-cab675180cf5/download/enderecos_nordeste.csv"
url2 = "https://ckan.pbh.gov.br/dataset/e0aa516b-8da9-405a-812d-17ced7d18baa/resource/3e1939f7-5786-4ce6-8795-11f04e4fa837/download/enderecos_barreiro.csv"
url3 = "https://ckan.pbh.gov.br/dataset/9ba40bcf-dfe6-440a-9b43-e4fda65d3248/resource/1502ba75-4d4d-4aa6-9cf9-d3802d8008ca/download/enderecos_leste.csv"
url4 = "https://ckan.pbh.gov.br/dataset/4717ec09-52dd-480e-8e46-cb356b8c0c22/resource/688ff522-482d-499b-ac59-32479283cde3/download/enderecos_norte.csv"
url5 = "https://ckan.pbh.gov.br/dataset/34b5a77f-3ac2-440d-9727-3b9407f3cf2e/resource/ab05c850-5fb0-4b37-bd60-8bf93d35978b/download/enderecos_oeste.csv"
url6 = "https://ckan.pbh.gov.br/dataset/10ea81f7-a4e3-43e3-b95b-72b1eb8ff85a/resource/3d0fb1e1-b0b7-4378-95a3-f37193566969/download/enderecos_pampulha.csv"
url7 = "https://ckan.pbh.gov.br/dataset/de7088d4-cb67-45d7-96ce-f24f99705ff5/resource/f84d29a1-239b-491a-a9a7-68bdd382de78/download/enderecos_noroeste.csv"
dados_nordeste = pd.read_csv(url1)
dados_barreiro = pd.read_csv(url2)
dados_leste = pd.read_csv(url3)
dados_norte = pd.read_csv(url4)
dados_oeste = pd.read_csv(url5)
dados_pampulha = pd.read_csv(url6)
dados_noroeste = pd.read_csv(url7)

In [ ]:
## Importanto a segunda data frame

## Data Frame 1 - Regiões de BH - PBH

In [ ]:
bigdata = [dados_nordeste , dados_barreiro, dados_leste, dados_norte, dados_oeste, dados_pampulha, dados_noroeste]
dados_bh = pd.concat(bigdata)
dados_bh

,DESC_TIPO_LOGRADOURO,SIGLA_TIPO_LOGRADOURO,NOME_LOGRADOURO,NUMERO_IMOVEL,LETRA_IMOVEL,NOME_BAIRRO_POPULAR,CEP,NOME_REGIONAL,GEOMETRIA
0,RUA,RUA,A H,7,NaN,Conjunto Paulo VI,31998206.0,NORDESTE,MDSYS.SDO_GEOMETRY
1,RUA,RUA,A H,9,NaN,Conjunto Paulo VI,31998206.0,NORDESTE,MDSYS.SDO_GEOMETRY
2,RUA,RUA,A H,10,NaN,Conjunto Paulo VI,31998206.0,NORDESTE,MDSYS.SDO_GEOMETRY
3,RUA,RUA,A H,11,NaN,Conjunto Paulo VI,31998206.0,NORDESTE,MDSYS.SDO_GEOMETRY
4,RUA,RUA,A H,13,NaN,Conjunto Paulo VI,31998206.0,NORDESTE,MDSYS.SDO_GEOMETRY
...,...,...,...,...,...,...,...,...,...
86113,RUA,RUA,ZOROASTRO DE SOUZA,250,NaN,Dom Bosco,30850420.0,NOROESTE,MDSYS.SDO_GEOMETRY
86114,RUA,RUA,ZOROASTRO DE SOUZA,264,NaN,Dom Bosco,30850420.0,NOROESTE,MDSYS.SDO_GEOMETRY
86115,RUA,RUA,ZOROASTRO DE SOUZA,278,A,Dom Bosco,30850420.0,NOROESTE,MDSYS.SDO_GEOMETRY
86116,RUA,RUA,ZOROASTRO DE SOUZA,278,NaN,Dom Bosco,30850420.0,NOROESTE,MDSYS.SDO_GEOMETRY
86117,RUA,RUA,ZOROASTRO DE SOUZA,280,NaN,Dom Bosco,30850420.0,NOROESTE,MDSYS.SDO_GEOMETRY

Warning: total number of rows (586775) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
dados_bh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 586775 entries, 0 to 86117
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   DESC_TIPO_LOGRADOURO   586775 non-null  object
 1   SIGLA_TIPO_LOGRADOURO  586775 non-null  object
 2   NOME_LOGRADOURO        586775 non-null  object
 3   NUMERO_IMOVEL          586775 non-null  int64
 4   LETRA_IMOVEL           112795 non-null  object
 5   NOME_BAIRRO_POPULAR    586775 non-null  object
 6   CEP                    577354 non-null  float64
 7   NOME_REGIONAL          586775 non-null  object
 8   GEOMETRIA              586775 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 44.8+ MB

In [ ]:
dados_bh.drop(columns= ['SIGLA_TIPO_LOGRADOURO', 'NUMERO_IMOVEL', 'LETRA_IMOVEL' ,'CEP', 'GEOMETRIA'])

,DESC_TIPO_LOGRADOURO,NOME_LOGRADOURO,NOME_BAIRRO_POPULAR,NOME_REGIONAL
0,RUA,A H,Conjunto Paulo VI,NORDESTE
1,RUA,A H,Conjunto Paulo VI,NORDESTE
2,RUA,A H,Conjunto Paulo VI,NORDESTE
3,RUA,A H,Conjunto Paulo VI,NORDESTE
4,RUA,A H,Conjunto Paulo VI,NORDESTE
...,...,...,...,...
86113,RUA,ZOROASTRO DE SOUZA,Dom Bosco,NOROESTE
86114,RUA,ZOROASTRO DE SOUZA,Dom Bosco,NOROESTE
86115,RUA,ZOROASTRO DE SOUZA,Dom Bosco,NOROESTE
86116,RUA,ZOROASTRO DE SOUZA,Dom Bosco,NOROESTE
86117,RUA,ZOROASTRO DE SOUZA,Dom Bosco,NOROESTE

In [ ]:
dados_bh["NOME_LOGRADOURO"] = dados_bh.NOME_LOGRADOURO.astype(float)

ValueError: ignored

In [ ]:
dados_bh["NOME_LOGRADOURO"].unique()

array(['A H', 'A J', 'A SEIS', ..., 'ZENITE', 'ZILKA MONTEIRO PENA ',
       'ZOROASTRO DE SOUZA'], dtype=object)

In [ ]:
dados_bh_bairro = dados_bh.groupby("NOME_BAIRRO_POPULAR").mean()
dados_bh_bairro

                     NUMERO_IMOVEL           CEP
NOME_BAIRRO_POPULAR
Aarão Reis              321.898253  3.181434e+07
Acaiaca                 244.702015  3.199385e+07
Ademar Maldonado        210.883186  3.064067e+07
Aeroporto               566.947471  3.127397e+07
Alpes                   448.692174  3.045241e+07
...                            ...           ...
Xodó-Marize             197.679715  3.174439e+07
Zilah Spósito           113.117221  3.174857e+07
Águas Claras            104.347368  3.067230e+07
Álvaro Camargos         209.678643  3.085996e+07
Átila de Paiva          254.242131  3.064043e+07

[409 rows x 2 columns]

## Data Frame 2 - População em Situação de Rua

In [ ]:
url8 = "https://ckan.pbh.gov.br/dataset/1f868d62-d7c3-4121-8ffa-9ed66d71d3e2/resource/f0398f93-df19-42ab-8875-906bdeeb9e9f/download/data_set_poprua_cadunico-032022.csv"
situacao_rua_bh = pd.read_csv(url8, sep=';') # Tranforma as separações do CSV de ponto e virgula em colunas. 
situacao_rua_bh

,TEMPO_VIVE_NA_RUA,CONTATO_PARENTE_FORA_RUAS,DATA_NASCIMENTO,IDADE,SEXO,AUXILIO_BRASIL,POP_RUA,GRAU_INSTRUCAO,COR_RACA,Faixa da renda familiar per capita,VAL_REMUNERACAO_MES_PASSADO,CRAS,REGIONAL,FAIXA_DESATUALICACAO_CADASTRAL,MES_ANO_REFERENCIA
0,Ate seis meses,Nunca,09/05/2002,19,MASCULINO,NAO,SIM,Fundamental completo,Parda,Entre R$210.01 ate 0.5 Salario Minimo,0.0,CRAS VILA CEMIG,BARREIRO,ate 12 Meses,01/03/2022
1,Ate seis meses,Quase nunca,04/06/1986,35,MASCULINO,NAO,SIM,Medio incompleto,Parda,Acima de 0.5 Salario Minimo,0.0,ENDERECO FORA AREA CRAS,NORDESTE,25 a 36 Meses,01/03/2022
2,Ate seis meses,Todo mes,01/03/1992,30,FEMININO,NAO,SIM,Sem instrucao,Preta,Entre R$210.01 ate 0.5 Salario Minimo,0.0,CRAS VILA ANTENA,OESTE,ate 12 Meses,01/03/2022
3,Ate seis meses,Todo dia,03/04/1958,63,FEMININO,NAO,SIM,Fundamental incompleto,Parda,Acima de 0.5 Salario Minimo,0.0,ENDERECO FORA AREA CRAS,CENTRO SUL,25 a 36 Meses,01/03/2022
4,Entre cinco e dez anos,Nunca,05/02/1965,57,MASCULINO,NAO,SIM,Fundamental incompleto,Parda,Ate R$105.00,0.0,ENDERECO FORA AREA CRAS,CENTRO SUL,25 a 36 Meses,01/03/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9809,Entre dois e cinco anos,Nunca,19/09/1970,51,MASCULINO,SIM,SIM,Fundamental incompleto,Parda,Ate R$105.00,100.0,ENDERECO FORA AREA CRAS,PAMPULHA,ate 12 Meses,01/03/2022
9810,Mais de dez anos,Nunca,25/05/1964,57,MASCULINO,SIM,SIM,Sem instrucao,Preta,Ate R$105.00,0.0,ENDERECO FORA AREA CRAS,CENTRO SUL,ate 12 Meses,01/03/2022
9811,Ate seis meses,Toda semana,22/07/1982,39,MASCULINO,SIM,SIM,Fundamental incompleto,Parda,Ate R$105.00,0.0,ENDERECO FORA AREA CRAS,CENTRO SUL,ate 12 Meses,01/03/2022
9812,Entre cinco e dez anos,Nunca,02/09/1959,62,MASCULINO,SIM,SIM,Fundamental incompleto,Preta,Ate R$105.00,0.0,ENDERECO FORA AREA CRAS,CENTRO SUL,ate 12 Meses,01/03/2022
9813,Ate seis meses,Todo ano,20/11/1972,49,MASCULINO,SIM,SIM,Fundamental incompleto,Branca,Ate R$105.00,0.0,ENDERECO FORA AREA CRAS,OESTE,ate 12 Meses,01/03/2022

In [ ]:
situacao_rua_bh.drop(columns= ['TEMPO_VIVE_NA_RUA',	'CONTATO_PARENTE_FORA_RUAS','VAL_REMUNERACAO_MES_PASSADO', 'FAIXA_DESATUALICACAO_CADASTRAL'])

,DATA_NASCIMENTO,IDADE,SEXO,AUXILIO_BRASIL,POP_RUA,GRAU_INSTRUCAO,COR_RACA,Faixa da renda familiar per capita,CRAS,REGIONAL,MES_ANO_REFERENCIA
0,09/05/2002,19,MASCULINO,NAO,SIM,Fundamental completo,Parda,Entre R$210.01 ate 0.5 Salario Minimo,CRAS VILA CEMIG,BARREIRO,01/03/2022
1,04/06/1986,35,MASCULINO,NAO,SIM,Medio incompleto,Parda,Acima de 0.5 Salario Minimo,ENDERECO FORA AREA CRAS,NORDESTE,01/03/2022
2,01/03/1992,30,FEMININO,NAO,SIM,Sem instrucao,Preta,Entre R$210.01 ate 0.5 Salario Minimo,CRAS VILA ANTENA,OESTE,01/03/2022
3,03/04/1958,63,FEMININO,NAO,SIM,Fundamental incompleto,Parda,Acima de 0.5 Salario Minimo,ENDERECO FORA AREA CRAS,CENTRO SUL,01/03/2022
4,05/02/1965,57,MASCULINO,NAO,SIM,Fundamental incompleto,Parda,Ate R$105.00,ENDERECO FORA AREA CRAS,CENTRO SUL,01/03/2022
...,...,...,...,...,...,...,...,...,...,...,...
9809,19/09/1970,51,MASCULINO,SIM,SIM,Fundamental incompleto,Parda,Ate R$105.00,ENDERECO FORA AREA CRAS,PAMPULHA,01/03/2022
9810,25/05/1964,57,MASCULINO,SIM,SIM,Sem instrucao,Preta,Ate R$105.00,ENDERECO FORA AREA CRAS,CENTRO SUL,01/03/2022
9811,22/07/1982,39,MASCULINO,SIM,SIM,Fundamental incompleto,Parda,Ate R$105.00,ENDERECO FORA AREA CRAS,CENTRO SUL,01/03/2022
9812,02/09/1959,62,MASCULINO,SIM,SIM,Fundamental incompleto,Preta,Ate R$105.00,ENDERECO FORA AREA CRAS,CENTRO SUL,01/03/2022
9813,20/11/1972,49,MASCULINO,SIM,SIM,Fundamental incompleto,Branca,Ate R$105.00,ENDERECO FORA AREA CRAS,OESTE,01/03/2022

In [ ]:
## Data Frame 3

In [ ]:
dados_imoveis = pd.read_csv("/content/data.csv") 
dados_imoveis

,address,adm-fees,garage-places,price,rooms,square-foot,neighborhood,city,latitude,longitude
0,"Avenida Raja Gabaglia, 1583",470.0,1,330000.0,1,40,Luxemburgo,Belo Horizonte,-19.936415,-43.953396
1,"Rua Espírito Santo, 1171",NaN,1,480000.0,2,45-65,Centro,Belo Horizonte,-18.864776,-41.121777
2,"Rua dos Expedicionários, 1082",NaN,5,1190000.0,4,411,Santa Amélia,Belo Horizonte,-20.225241,-44.397780
3,"Rua Marechal Hermes, 81",750.0,4,1590000.0,4,158,Gutierrez,Belo Horizonte,-19.937155,-43.958694
4,"Rua Juruna, 110",NaN,6,550000.0,3,278,Pindorama,Belo Horizonte,-19.912982,-44.019944
...,...,...,...,...,...,...,...,...,...,...
5976,Rua Gama Cerqueira,340.0,2,560000.0,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5977,"Rua Arthur Lourenço, 262",200.0,1,440000.0,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5978,Rua General Ephigênio Ruas Santos,10.0,2,500000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5979,Rua General Ephigênio Ruas Santos,10.0,2,740000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5980,Avenida do Contorno,NaN,3,4990000.0,--,428,Savassi,Belo Horizonte,-19.915643,-43.945380

In [ ]:
dados_imoveis.drop(columns= ['longitude',	'latitude','adm-fees'])

,address,garage-places,price,rooms,square-foot,neighborhood,city
0,"Avenida Raja Gabaglia, 1583",1,330000.0,1,40,Luxemburgo,Belo Horizonte
1,"Rua Espírito Santo, 1171",1,480000.0,2,45-65,Centro,Belo Horizonte
2,"Rua dos Expedicionários, 1082",5,1190000.0,4,411,Santa Amélia,Belo Horizonte
3,"Rua Marechal Hermes, 81",4,1590000.0,4,158,Gutierrez,Belo Horizonte
4,"Rua Juruna, 110",6,550000.0,3,278,Pindorama,Belo Horizonte
...,...,...,...,...,...,...,...
5976,Rua Gama Cerqueira,2,560000.0,3,92,Nova Suíssa,Belo Horizonte
5977,"Rua Arthur Lourenço, 262",1,440000.0,3,90,Barreiro,Belo Horizonte
5978,Rua General Ephigênio Ruas Santos,2,500000.0,3,80,Itapoã,Belo Horizonte
5979,Rua General Ephigênio Ruas Santos,2,740000.0,3,80,Itapoã,Belo Horizonte
5980,Avenida do Contorno,3,4990000.0,--,428,Savassi,Belo Horizonte

In [ ]:
dados_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5981 entries, 0 to 5980
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        5981 non-null   object
 1   adm-fees       3977 non-null   float64
 2   garage-places  5981 non-null   object
 3   price          5951 non-null   float64
 4   rooms          5981 non-null   object
 5   square-foot    5981 non-null   object
 6   neighborhood   5957 non-null   object
 7   city           5981 non-null   object
 8   latitude       5981 non-null   float64
 9   longitude      5981 non-null   float64
dtypes: float64(4), object(6)
memory usage: 467.4+ KB

In [ ]:
dados_imoveis.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

adm-fees     2.056605e+03
price        1.075036e+06
latitude    -1.991028e+01
longitude   -4.393228e+01
dtype: float64

## Data Frame 3 - Preço dos imoveis de Belo Horizonte

In [ ]:
import pandas as pd
preco_imoveis = pd.read_csv('/content/data.csv')

In [ ]:
preco_imoveis

,address,adm-fees,garage-places,price,rooms,square-foot,neighborhood,city,latitude,longitude
0,"Avenida Raja Gabaglia, 1583",470.0,1,330000.0,1,40,Luxemburgo,Belo Horizonte,-19.936415,-43.953396
1,"Rua Espírito Santo, 1171",NaN,1,480000.0,2,45-65,Centro,Belo Horizonte,-18.864776,-41.121777
2,"Rua dos Expedicionários, 1082",NaN,5,1190000.0,4,411,Santa Amélia,Belo Horizonte,-20.225241,-44.397780
3,"Rua Marechal Hermes, 81",750.0,4,1590000.0,4,158,Gutierrez,Belo Horizonte,-19.937155,-43.958694
4,"Rua Juruna, 110",NaN,6,550000.0,3,278,Pindorama,Belo Horizonte,-19.912982,-44.019944
...,...,...,...,...,...,...,...,...,...,...
5976,Rua Gama Cerqueira,340.0,2,560000.0,3,92,Nova Suíssa,Belo Horizonte,-19.945428,-43.970988
5977,"Rua Arthur Lourenço, 262",200.0,1,440000.0,3,90,Barreiro,Belo Horizonte,-19.979915,-44.026007
5978,Rua General Ephigênio Ruas Santos,10.0,2,500000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5979,Rua General Ephigênio Ruas Santos,10.0,2,740000.0,3,80,Itapoã,Belo Horizonte,-19.840904,-43.956037
5980,Avenida do Contorno,NaN,3,4990000.0,--,428,Savassi,Belo Horizonte,-19.915643,-43.945380